@font-face {
  font-family: 'PoetsenOne';
  src: url('/src/assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/src/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/src/assets/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
